In [1]:
import pandas as pd

### WordCount Output Processing

In [2]:
df1 = pd.read_csv('../Code/Word_Count/part-00000', delimiter="\t", names= ["word", "count"])
df2 = pd.read_csv('../Code/Word_Count/part-00001', delimiter="\t", names= ["word", "count"])
df3 = pd.read_csv('../Code/Word_Count/part-00002', delimiter="\t", names= ["word", "count"])
df4 = pd.read_csv('../Code/Word_Count/part-00003', delimiter="\t", names= ["word", "count"])
df5 = pd.read_csv('../Code/Word_Count/part-00004', delimiter="\t", names= ["word", "count"])
df6 = pd.read_csv('../Code/Word_Count/part-00005', delimiter="\t", names= ["word", "count"])
df7 = pd.read_csv('../Code/Word_Count/part-00006', delimiter="\t", names= ["word", "count"])

final_df = pd.concat([df1, df2, df3, df4, df5, df6, df7])
final_df = final_df.sort_values(by="count", ascending=False)
final_df.to_csv('../Code/Word_Count/NYT_wordcounts.csv', index = False)

In [3]:
temp = pd.read_csv('../Code/Word_Count/NYT_wordcounts.csv')
temp[0:20]

          word  count
0      company   2312
1        trump   1279
2       people   1044
3    president    903
4     facebook    858
5       amazon    784
6         york    744
7    executive    670
8     american    620
9     business    617
10       state    606
11        deal    590
12       chief    586
13        plan    582
14     billion    562
15  government    557
16        work    549
17     percent    540
18     country    525
19       china    516

### WordCooccurence Output Processing

In [4]:
df_1 = pd.read_csv('../Code/Word_Cooccurence/part-00000', delimiter="\t", names= ["bigram", "count"])
df_2 = pd.read_csv('../Code/Word_Cooccurence/part-00001', delimiter="\t", names= ["bigram", "count"])
df_3 = pd.read_csv('../Code/Word_Cooccurence/part-00002', delimiter="\t", names= ["bigram", "count"])

final_df2 = pd.concat([df_1, df_2, df_3])
final_df2 = final_df2.sort_values(by="count", ascending=False)
final_df2.to_csv('../Code/Word_Cooccurence/NYT_Cooccurence_counts.csv', index = False)

In [5]:
temp1 = pd.read_csv('../Code/Word_Cooccurence/NYT_Cooccurence_counts.csv')
temp1[0:20]

                bigram  count
0    company,executive   2626
1       company,people   2595
2         company,work   2525
3        company,state   2498
4        chief,company   2464
5     business,company   2412
6         company,plan   2373
7     company,facebook   2243
8      billion,company   2212
9    company,president   2170
10       company,trump   2161
11        company,york   2136
12     president,trump   2056
13        company,deal   2028
14     company,percent   1945
15      amazon,company   1871
16    american,company   1778
17  company,government   1775
18     company,country   1629
19      american,trump   1625